.builder td.selectable {
    background-color: #0d0;
    cursor: pointer;
}

.builder td.selectable:hover {
    background-color: #0e0;
}

.builder td {
    width: 3em;
    height: 3em;
    text-align: center;
    vertical-align: middle;
}